In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.ticker import PercentFormatter

In [2]:
df = pd.read_csv('bar_line_chart_data.csv')
df

   Year  Python Users  Participants
0  2012         0.149           798
1  2013         0.133          1880
2  2014         0.195          3285
3  2015         0.303          2800
4  2016         0.458          2895
5  2017         0.526          2900
6  2018         0.656          2300
7  2019         0.658          1800

In [ ]:
fig, ax = plt.subplots(figsize = (10,7))

ax.bar(df['Year'],
       df['Participants'])